body { background-color: #c9d6df;
        }
hr { background-color: #c9d6df;
     border-style: none;
     border-top-style: dotted;
     height: 0px;
     width:10%;
     border-width: 15px;
     border-color: grey;
     }
img { height: 25px;}

h1{color:#52057b;
    text-shadow: 2px 2px;}
h3{color:#9d0191; }
